{% spaceless %}{% load i18n phone_checker_bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% trans 'Checking the phone number' %}</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="mb-0">{% trans 'Phone number checking form' %}</h4>
                </div>
                <div class="card-body">
                    <form class="form" role="form" action="">
                        {{ form.non_field_errors }}
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        {% for field in form.visible_fields %}{{ field|form_group }}{% endfor %}
                        <button type="submit" class="btn btn-dark btn-block mt-1">{% trans 'Check' %}</button>
                    </form>
                {% if info %}
                    <div class="alert alert-success mt-2">
                        <h6>{{ phone }}</h6>
                        <p>{{ info|linebreaks }}</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'phone_checker:check' %}?{{ request.GET.urlencode }}">JSON</a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endspaceless %}
